/* .section {
    display: flex;
    justify-content: center;
  }
  
  .character-card {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .character-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
  }
  
  .character-card h3 {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
  }
  
  .cajahijapelis {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  }
  
  #titulo2 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  } */
  