/* Estilos para la página de Populares */
.populares-container {
    padding: 20px; /* Espaciado interno */
}

.populares-title {
    font-size: 2.5rem; /* Tamaño del título principal */
    color: #333; /* Color de texto más oscuro */
    margin-bottom: 20px; /* Espacio inferior */
    font-weight: bold; /* Negrita */
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif; /* Fuente */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 390px) {
    .populares-container {
      padding: 15px; /* Ajusta el espaciado interno en pantallas pequeñas */
    }
  
    .populares-title {
      font-size: 2rem; /* Reducción del tamaño del título en pantallas pequeñas */
    }
  }
  