/* Estilos para las tarjetas */
.card {
    background-color: #f5f5f6;
    border: 1px solid #dee2e6;
    border-radius: 15px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
    padding: 20px;
    width: 200px;
    text-align: center;
    transition: box-shadow 0.3s ease;
    font-family: 'Netflix Sans', 'Helvetica Neue', 'Segoe UI', 'Roboto', 'Ubuntu', 'sans-serif';
}

.card img {
    border-radius: 35%;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card h2 {
    margin: 10px 0;
    font-size: 2rem;
    color: #333;
}

.card p {
    margin: 5px 0;
    color: #555;
}

.card a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Hereda el color del texto del elemento padre */
}

/* Efecto de sombra más pronunciado al pasar el mouse sobre la tarjeta */
.card:hover {
    box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}
